.li{
    width: 50%;
    text-align: center;
  }
  .sel{
    text-decoration: none;
    
  }
  .sel p{
    margin-top: 5%;
    color:#eee8a9;
  }
  .sec{
    text-decoration: none;
  }
  .sec p{
    margin-top: 10%;
    color: #009585;
  }
  .n{
    background-color: #009585;
    color: #eee8a9;
    width: 100%;
  }
  .ul2{
    width: 20%;
    margin-left: 27%;
  
  }
  .ul1{
  
    text-decoration: none;
  }
  .ul1 p{
    color:#009585;
    margin-top: 10%;
  }