.dashboard{
    /* color: #8eb5ff; */
  background-color:  #F2F2F2;
}
.graficaUsuarios{
  width: 30%;
  margin-top: 8%;
}
.graficaUsuarios2{
  width: 40%;
}
.DF{
  display: flex;
}
.navD{
  /* color: #8eb5ff; */
  background-color: #F2F2F2;
  text-align: center;
  margin-top: 2%;
  margin-left: 25%;
}
.navD ul li{
  margin-top: 1.5%;
  margin-left: 18%;
}
.det{
 color: black;
}
.det:hover{
  color: #eee8a9;
}
.datos{
  width: 35%;
  margin-left: 14%;
  text-align: center;
  margin-top: 5%;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px black;
  pointer-events:auto;
  gap: 30%;
}
.MT{
  margin-top: 6%;
}
.ML{
  margin-left: 2%;
}
.dato{
  gap: 50%;
  background-color:#8eb5ff;
  color: black;
}
.dato1{
  gap: 47%;
  background-color: #eee8a9;
  color: black;
}
.dato2{
  gap: 44%;
  background-color: #f888ef;
  color: black;
}
.dato3{
  gap: 44%;
  background-color: #0233d6;
  color: white;
}
.inputD{
  text-align: center;
  width: 20%;
  border-radius: 10px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
}
.opciones{
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  position:absolute;
  z-index: 1001;
  background-color: white;
  width: 20%;
  margin-left: 46%;
  background-color:#F2F2F2;
}
.opciones li{
  padding: 1%;
  cursor: pointer;
  margin-top: 3%;
  border-bottom: 1px solid #ccc;
  background-color:#4a88fc;
  border-radius: 40px;
}
.User{
  margin-top: 5%;
}
.userSelect{
  width: 45%;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  /* box-shadow: 0 4px 8px black; */
  pointer-events:auto;
  margin-left: 10%;
  margin-bottom: 10%;
}