*{
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}
ul{
  display: flex;
  gap: 12.5%;
  width: 50%;  
}
li{
  list-style-type: none;
}
nav{
  display: flex;
  background-color:#eee8a9;
  color: #009585;
  height: 45px;
}
.ml{
  margin-left: 20%;
}
.flex{
  display: flex;
  margin-top: 10%;
}
.flex h3{
  margin-left: 37%;
}
.flex2{
  display: flex;
  margin-top: 10%;
}
.flex2 h3{
  margin-left: 20%;
}
.flex3{
  display: flex;
  margin-top: 10%;
}
.flex3 h3{
  margin-left: 30%;
}
.botones{
  width: 100%;
  margin-top: 5%;
  height: 30px;
}
.botones1 Link{
  text-decoration: none;
}
.mt{
  margin-top: 10%;
}
.btns button{
  width: 20%;
  height: 40px;
  border-radius: 20%;
  border-color:#97b1ab;
  background-color:#009585;
  color: #eee8a9;
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: 18%;
}
.botones .button{
  width: 20%;
}
input{
  width: 60%;
  height: 20px;
}
.p2{
  color: #eee8a9;
  background-color: #009585;
  text-decoration: none;
  margin-left: 1%;
}