*{
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}
header{
  width: 100%;
  text-align: center;
}
.contenedor_logo{
  width: 10%;
  margin-left: 25%;
}
.contenedor_logo img{
  width: 100%;
}
.header_text{
  margin-top: 1%;
  margin-left: 5%;
}
.Content{
  display: flex;
  background-color: #009585;
  color: #eee8a9;
}
ul{
  display: flex;
  gap: 12.5%;
  width: 50%;  
}
li{
  
  list-style-type: none;
}
.li{
  width: 50%;
  text-align: center;
}
nav{
  display: flex;
  background-color:#eee8a9;
  color: #009585;
  height: 45px;
}
.sel{
  text-decoration: none;
  
}
.sel p{
  margin-top: 5%;
  color:#eee8a9;
}
.sec{
  text-decoration: none;
}
.sec p{
  margin-top: 10%;
  color: #009585;
}
.n{
  background-color: #009585;
  color: #eee8a9;
  width: 100%;
}
.ul2{
  width: 20%;
  margin-left: 27%;

}
.ul1{

  text-decoration: none;
}
.ul1 p{
  color:#009585;
  margin-top: 10%;
}
.imagenes{
  margin-top: 3%;
  display: flex;
  gap: 5%;
}
.cont-img{
  width: 30%;
}
.cont-img img{
  width: 100%;
}
.textos{
  display: flex;
}
.text{
  width: 33%;
  text-align: center;
}
.tp{
  margin-top: 4%;
}
.principal{
  background-color:#eee8a9;
}
.recomendaciones{
  width: 100%;
  margin-top: 12%;
}
.recomendacion{
  display: flex;
}
.cont-img2{
  width: 20%;
}
.cont-img2 img{
  width: 100%;
  border-radius: 50%;
}
.cont-img2 h1{
  margin-left: 35%;
}
.textoRe{
  text-align: center;
  width: 70%;
}
.textoRe p{
  margin-top: 8%;
}
footer{
  background-color: #009585;
  width: 100%;
  height: 100px;
  text-align: center;
  color: #eee8a9;
  
}
footer a{
  text-decoration: none;
  color: #eee8a9;
}
.home{
  background-color: #eee8a9;
  color:#02665c;
}
.perfil{
  position:absolute;
  width: 35%;
  margin-left: 60%;
  text-align: center;
  margin-top: 1%;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px black;
  pointer-events:auto;
}
.opc {
  opacity: 0.2;
  pointer-events: none;
}
.button-perfil{
  background-color: #eee8a9;
  color:#009585;
  border: none;
  margin-top: 11%;
  font-size: 100%;
  cursor: pointer;
}
.ml{
  margin-left: 20%;
}
.flex{
  display: flex;
  margin-top: 10%;
}
.flex h3{
  margin-left: 37%;
}
.flex2{
  display: flex;
  margin-top: 10%;
}
.flex2 h3{
  margin-left: 20%;
}
.flex3{
  display: flex;
  margin-top: 10%;
}
.flex3 h3{
  margin-left: 30%;
}
.img{
  margin-left: -11%;
  margin-top: 4%;
}
.img img{
  margin-left: 10%;
}
main{
  width: 100%;
  text-align: center;
}

.login-sidebar{
  background-color: #009585;
  color: #eee8a9;
  width: 50%;
  height: 200px;
  text-align: center;
  border-top-right-radius: 30%;
}
.login-sidebar2{
  background-color: #009585;
  color: #eee8a9;
  width: 50%;
  height: 350px;
  text-align: center;
  border-top-left-radius: 30%;
  margin-left: 50%;
}
.login-sidebar3{
  background-color: #009585;
  color: #eee8a9;
  width: 50%;
  height: 230px;
  text-align: center;
  border-top-right-radius: 30%;
}
.login-sidebar4{
  background-color: #009585;
  color: #eee8a9;
  width: 50%;
  height: 210px;
  text-align: center;
  border-top-left-radius: 30%;
  margin-left: 50%;
}
.botones{
  width: 100%;
  margin-top: 5%;
  height: 30px;
}
.botones1 Link{
  text-decoration: none;
}
.mt{
  margin-top: 10%;
}
.btns button{
  width: 20%;
  height: 40px;
  border-radius: 20%;
  border-color:#97b1ab;
  background-color:#009585;
  color: #eee8a9;
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: 18%;
}
.botones .button{
  width: 24%;
  /* margin-left: 12%; */
}
input{
  width: 60%;
  height: 20px;
}
.p{
  color:#009585 ;
  text-decoration: none;
}
.p2{
  color: #eee8a9;
  background-color: #009585;
  text-decoration: none;
  margin-left: 1%;
}
.rt{
  width: 100%;
  height: 70px;
}
.rt li{
  margin-top: 1%;
  width: 100%;
  
}
.ing{
  background-color:#009585;
  color: #eee8a9;
  text-align: center;
  display: flex;
  gap: 16%;
  height: 50px;
}
.ing input{
  width: 100%;
  background-color: #eee8a9;
  color:#02665c;
}
.boton{
  background-color:#009585;
}
.boton button{
  margin-left: 45%;
  background-color: #eee8a9;
  color: #02665c;
  width: 10%;
  height: 30px;
}
a{
  text-decoration: none;
  color: #eee8a9;
}
/* Dashboard */
.dashboard{
  color: #8eb5ff;
  background-color:  #F2F2F2;
}
.graficaUsuarios{
  width: 30%;
  margin-top: 8%;
}
.graficaUsuarios2{
  width: 40%;
}
.DF{
  display: flex;
}
.navD{
  color: #8eb5ff;
  background-color: #F2F2F2;
  text-align: center;
  margin-top: 2%;
  margin-left: 25%;
}
.navD ul li{
  margin-top: 1.5%;
  margin-left: 18%;
}
.det{
  color:#8eb5ff;
}
.det:hover{
  color: #eee8a9;
}
.datos{
  width: 35%;
  margin-left: 14%;
  text-align: center;
  margin-top: 5%;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px black;
  pointer-events:auto;
  gap: 30%;
}
.MT{
  margin-top: 6%;
}
.ML{
  margin-left: 2%;
}
.dato{
  gap: 50%;
  background-color:#8eb5ff;
  color: black;
}
.dato1{
  gap: 47%;
  background-color: #eee8a9;
  color: black;
}
.dato2{
  gap: 44%;
  background-color: #f888ef;
  color: black;
}
.dato3{
  gap: 44%;
  background-color: #0233d6;
  color: white;
}
.inputD{
  text-align: center;
  width: 20%;
  border-radius: 10px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
}
.opciones{
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  background-color: white;
  width: 20%;
  margin-left: 40%;
  background-color:#F2F2F2;
}
.opciones li{
  padding: 1%;
  cursor: pointer;
  margin-top: 3%;
  border-bottom: 1px solid #ccc;
  background-color:#4a88fc;
  border-radius: 40px;
}
.User{
  margin-top: 5%;
}
.userSelect{
  width: 45%;
  margin-left: 0%;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  /* box-shadow: 0 4px 8px black; */
  pointer-events:auto;
  margin-left: 10%;
  margin-bottom: 10%;
}
/* Dashboard */